---
import Carousel from "../components/Carousel.astro";
import ShortDesc from "../components/ShortDesc.astro";
import Studio from "../components/Studio.astro";
import Layout from "../layouts/Layout.astro";
import Crew from "../components/Crew.astro";
import Features from "../components/Features.astro";
import Testimonials from "../components/Testimonials.astro";
import Map from "../components/Map.astro";
---

<Layout title="Fifth Avenue Studio">
  <Carousel />
  <div class="flex flex-col">
    <ShortDesc />
    <Studio />
    <Crew />
    <Features />
    <Testimonials />
    <Map />
  </div>
</Layout>

<style></style>
