---

---

<article
  id="my"
  class="mx-auto flex h-dvh max-w-xs flex-col items-center justify-center overflow-x-hidden md:max-w-xl lg:max-w-3xl 2xl:max-w-6xl"
>
  <h3 class="py-8 text-xl md:py-6 md:text-xl lg:py-10 lg:text-3xl 2xl:py-12">
    Fifth Avenue Studio
  </h3>
  <h1
    class="py-4 text-center text-3xl font-bold tracking-wide md:py-4 md:text-4xl lg:py-8 lg:text-5xl 2xl:py-12 2xl:text-6xl"
  >
    TWOJA NAJLEPSZA SESJA
  </h1>
  <p
    class="text-pretty py-2 text-center font-extralight tracking-wider md:py-4 md:text-lg 2xl:text-xl"
  >
    Poszukujesz profesjonalnych zdjęć? Studio Fotograficzne Fifth Avenue to
    miejsce dla Ciebie! Oferujemy sesje zdjęciowe na każdą okazję: portrety,
    sesje rodzinne, zdjęcia biznesowe, a także artystyczne i kreatywne projekty.
    Nasz doświadczony zespół zapewni Ci komfort i najwyższą jakość usług w
    przyjaznej atmosferze. Skontaktuj się z nami już dziś i uwiecznij
    najpiękniejsze chwile w życiu!
  </p>
</article>

<style></style>
