---

---

<article
  id="studio"
  class="m-auto flex h-dvh max-w-xs flex-col items-center justify-center md:max-w-xl lg:max-w-3xl 2xl:max-w-6xl"
>
  <h3
    class="py-6 text-center text-3xl font-semibold lg:py-20 lg:text-5xl 2xl:text-6xl"
  >
    Wybierz swoje studio
  </h3>
  <section
    class="mx-auto flex max-w-xs flex-col items-center justify-center gap-8 md:max-w-xl lg:max-w-3xl lg:flex-row lg:gap-x-10 2xl:max-w-5xl"
  >
    <div>
      <img src="room.avif" alt="room" class="mx-auto rounded-sm" />
      <h3
        class="py-2 text-center text-lg font-semibold lg:pt-8 lg:text-2xl 2xl:text-4xl"
      >
        BEIGE
      </h3>
      <p
        class="text-center text-xs font-extralight lg:py-4 lg:text-lg 2xl:text-xl"
      >
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quia impedit
        sint officiis unde alias architecto rerum reprehenderit quam dolor
        corrupti!
      </p>
      <p class="text-center lg:text-xl 2xl:text-2xl">150 zł / godzina</p>
    </div>
    <div>
      <img src="room2.avif" alt="room" class="mx-auto rounded-sm" />
      <h3
        class="py-2 text-center text-lg font-semibold lg:pt-8 lg:text-2xl 2xl:text-4xl"
      >
        GREEN
      </h3>
      <p
        class="text-center text-xs font-extralight lg:py-4 lg:text-lg 2xl:text-xl"
      >
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quia impedit
        sint officiis unde alias architecto rerum reprehenderit quam dolor
        corrupti!
      </p>
      <p class="text-center lg:text-xl 2xl:text-2xl">120 zł / godzina</p>
    </div>
    <div class="hidden flex-col md:flex">
      <img src="room3.avif" alt="room" class="mx-auto rounded-sm" />
      <h3
        class="py-2 text-center text-lg font-semibold lg:pt-8 lg:text-2xl 2xl:text-4xl"
      >
        VINTAGE
      </h3>
      <p
        class="text-center text-xs font-extralight lg:py-4 lg:text-lg 2xl:text-xl"
      >
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quia impedit
        sint officiis unde alias architecto rerum reprehenderit quam dolor
        corrupti!
      </p>
      <p class="text-center lg:text-xl 2xl:text-2xl">170 zł / godzina</p>
    </div>
  </section>
  <section class="flex items-center justify-center py-4 md:pb-10 md:pt-8">
    <button
      class="rounded-sm bg-neutral-950 px-4 py-2 text-neutral-50 md:px-8 md:py-4 md:text-xl lg:px-10 lg:py-6 lg:text-2xl"
      >Rezerwuj na Booksy!</button
    >
  </section>
</article>

<style>
  img {
    width: 150px;
    height: auto;
  }

  @media (min-width: 768px) {
    img {
      width: 275px;
    }
  }
</style>
